@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body {
  color: white;
  background: black;
  font-family: monospace;
}

#__next {
  height: 100%;
}
